@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-main-bg {
    background-color: #0f0e13;
    background-image:
        radial-gradient(at 0% 0%, rgb(56, 54, 63) 0, transparent 50%),
        radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
        radial-gradient(at 100% 0%, rgb(39, 35, 54) 0, transparent 50%);
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .header-bg-glassmorphism {
        background-image:
        radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
        radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
        radial-gradient(at 100% 0%, rgb(7, 36, 116) 0, transparent 50%);
      background-color: rgba(10, 10, 10, 0.8);
    }

    .text-custom-gradient {
        background-color: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


@supports ((-webkit-backdrop-filter: blur(7px)) or (backdrop-filter: blur(7px))) {
    .header-bg-glassmorphism {
        background: rgb(39, 51, 89, 0.4);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
    }

    .text-custom-gradient {
        background-color: #fff;
        background-image: radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.border-custom-blue {
    --tw-border-opacity: 1;
    border-color: rgb(159 133 255 / var(--tw-border-opacity));
}

.text-custom-blue {
    -webkit-text-fill-color: white;
}

.gradient-bg-login-screen {
    background-color: #0f0e13;
    background-image: 
      radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
  }
  