@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-main-bg {
    background-color: #0f0e13;
    background-image:
        radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
        radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
        radial-gradient(at 100% 0%, rgb(55, 112, 21) 0, transparent 50%);
}

.header-bg-glassmorphism {
    background: rgb(39, 51, 89, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.text-custom-gradient {
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-custom-blue {
    --tw-border-opacity: 1;
    border-color: rgb(41 82 227 / var(--tw-border-opacity));
}